pypdf
langchain~=0.0.351
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
huggingface_hub
python-dotenv==1.0.0
openai==1.3.8
ctransformers
openai
#Flask==2.0.2
#prometheus-flask-exporter==0.18.3
requests~=2.31.0
Werkzeug==2.2.2

llama-index
prometheus-fastapi-instrumentator



#langchain==0.0.312
fastapi==0.95.1
uvicorn~=0.21.1
pypdf==3.16.3
docx2txt
jq
python-multipart
bs4~=0.0.1

playwright
llama-index
fake-useragent
python-docx
unstructured

pydantic~=1.10.13
starlette~=0.26.1
beautifulsoup4~=4.12.2